@import "../../../styles/index.scss";

.mat-header-container {
  display: flex;
  min-width: 300px;  
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-bottom: 1px solid $dark-2;
  h1 {
    @include text-style(24px, 600, $dark-2, Roboto);
    line-height: 24px;
    text-transform: uppercase;
  }

  button {
    position: absolute;
    top: 0px;
    right: 3px;
    outline: none;
    border: none;
    cursor: pointer;
    background: none;
    i {
      font-size: 24px;
      color: $light-3;
    }
  }
}
.mat-content-container {
  padding: 20px 26px;
  p{
    padding: 0 0 20px;
  }
  .project-images{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
      width: inherit;
      height: auto;
    }
  }
  @include text-style(18px, 400, $dark-2, Roboto);

  &::-webkit-scrollbar {
    width: 10px; /* width of the entire scrollbar */
  }
  &::-webkit-scrollbar-track {
    background: none; /* color of the tracking area */
    border-radius: 3px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $light-1; /* color of the scroll thumb */
    border-radius: 3px; /* creates padding around scroll thumb */
    transition: 0.5s;
    &:hover {
      background-color: rgb(175, 175, 175);
    }
  }
}

.mat-footer-container {
  display: flex;
  justify-content: center;

  a {
    color: $dark-2;
    text-decoration: none;
    transition: 0.5s;
    i {
      font-size: 46px;
    }
  }
  a:hover {
    color: $primary-2;
  }
}
