<div class="about">
  <div class="header">
    <h1>Get To Know More <span>About Me</span><span>.</span></h1>
  </div>

  <div class="main">
    <div>
      <p>Hi<span>.</span></p>
      <p>
        I'm Ana, a Junior Angular Developer at Alta Software<span>.</span><br />
        I study Computer Engineering at San Diego State
        University<span>.</span><br />
        It's been more than a year since I dived into Front-End development<span
          >.</span
        ><br />
        I'm always willing and enthusiastic to improve my skills and deepen my
        knowledge to become a professional full-stack developer<span>.</span>
        <br />
        For more details, download and see my resume or contact me<span>.</span>
      </p>
      <br />
      <a href="/Portfolio/assets/documents/Ana_Maghradze_resume.pdf" download="Ana_Maghradze_resume.pdf">
        <i class="las la-file-pdf"></i>
        Resume
        <i class="las la-long-arrow-alt-down"></i>
      </a>
    </div>
  </div>

  <div class="footer">
    <div>
      <div class="competencies-header">// Skills and Competencies</div>
      <div class="competencies-list">
        <span>Angular</span>
        <span>TypeScript</span>
        <span>JavaScript</span>
        <span>NodeJS</span>
        <span>HTML5</span>
        <span>CSS3</span>
        <span>SCSS</span>
        <span>Bootstrap</span>
        <span>jQuery</span>
        <span>C#</span>
        <span>.NET</span>
        <span>SQL</span>
      </div>
    </div>
  </div>
</div>
