@import "../../../styles/index.scss";

.notification {
  width: fit-content;
  height: fit-content;
  max-width: 400px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 4px;
  cursor: context-menu;
  transition: 0.3s;
  position: absolute;
  bottom: 10px;
  right: 20px;

  p {
    @include text-style(16px, 400, $light-1, Poppins);
    padding: 2px 10px 0;
  }

  div {
    i {
      font-size: 20px;
      color: $light-1;
    }
  }

  .close {
    cursor: pointer;
  }

  &:hover {
    .bell i {
      animation: bellshake 0.4s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
      backface-visibility: hidden;
      transform-origin: left right;
    }
  }

  @keyframes bellshake {
    0% {
      transform: rotate(0);
    }
    25% {
      transform: rotate(20deg);
    }
    50% {
      transform: rotate(0);
    }
    75% {
      transform: rotate(-20deg);
    }
    100% {
      transform: rotate(0);
    }
  }
}

.failure {
  background: $primary-1;
}
.success {
  background: $primary-2;
}
.neutral {
  background: $primary-3;
}
