$dark-1: #010006; 
$dark-2: #060216f3; 

$light-1: rgb(195, 195, 195);
$light-2: rgb(100, 100, 100);
$light-3: rgb(255, 150, 124);

$primary-1: rgb(236, 40, 30);
$primary-2: rgb(1,112,89);
$primary-3: rgb(125,5,224); 

$transparent-1: #010006e8; 

