<div class="contact-list">
    <a href="https://www.linkedin.com/in/anamaghradze/" target="_blank"><i class="lab la-linkedin"></i></a>
    <a href="https://github.com/AnaMaghradze" target="_blank"><i class="lab la-github-square"></i></a>
    <a href="https://www.facebook.com/AnnaMaghradze" target="_blank"><i class="lab la-facebook-square"></i></a>
    <!-- <a
      cdkCopyToClipboard="'annmaghradze@gmail.com'"
      matTooltip="copy email to clipboard"
      [matTooltipPosition]="tooltip_position"
      matTooltipClass="tooltip"
    >
      <i class="las la-envelope-square"></i>
    </a> -->
</div>
